<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>header</title>
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


</head>
<body>
    
    <header>
        <div class="header-top">
            <div class="container">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>

        <div class="header-main">
            <div class="container">
                <img src="../../../shared/logo.png" alt="">

                <ul class="nav-links">
                    <li>KONTAKT</li>
                    <li>IGRACICE</li>
                    <li>O KLUBU</li>
                    <li>VESTI</li>
                    <li>NASLOVNA</li>
                </ul>
            </div>
        </div>

    </header>
</body>
</html>