<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>
    <div class="row container">
        <div class="home-first-article col-8 ">
            <p>SENIORKE</p>
            <img src="../../shared/home-first.jpg" alt="">
            <p class="date">01.01.2019. - 15:25</p>
            <h3>Vinča je ostvarial prvu pobedu!</h3>
        </div>

        <div class="col-4">
            asdasd
        </div>
    </div>
</body>
</html>